body {
  overflow: hidden;
  margin: 0;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica;
}
#companyInfo{
  display:none; 
  margin-left:5px; 
  margin-bottom:10px;
}
#companyInfo font{
  margin-right:5px;
}
.footer {
  margin:20px 10px 0 0;
  z-index: 1;
  display: block;
  float:right;
  font-size: 12px;
  font-weight: 200;
  text-shadow: 0 1px 0 #fff;
}

svg {
  overflow: hidden;
}

rect {
  pointer-events: all;
  cursor: pointer;
  stroke: #EEEEEE;
}
#daterange input{
  margin-left:3px;
  margin-right:3px;
}
.chart {
  display: block;
  margin: auto;
}
.parent .label {
  color: #FFFFFF;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.labelbody {
  background: transparent;
}

.label {
  margin: 2px;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.child .label {
  white-space: pre-wrap;
  text-align: center;
  text-overflow: ellipsis;
}

.cell {
  font-size: 11px;
  fill-opacity: .8;
  cursor: pointer
}

.tooltip {
  position: absolute;
  word-wrap: break-word;
  width: 220px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

.tooltip.hidden {
  display: none;
}

.tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}

#popupElementDiv { 
  display:none; 
  background-color:#fff;
  border-radius:15px;
  color:#000;
  display:none; 
  padding:20px;
  width:960px;
}
.b-close{
  cursor:pointer;
  position:absolute;
  right:10px;
  top:5px;
}
